<div th:fragment="detailsNewsModal">
    <div class="modal-header bg-info text-dark">
        <h5 class="modal-title"><i class="fas fa-newspaper"></i> News Details</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
    </div>
    <div class="modal-body">
        <p><strong>ID:</strong> <span th:text="${news.newsId}"></span></p>
        <p><strong>Title:</strong> <span th:text="${news.title}"></span></p>
        <p><strong>Content:</strong> <span th:text="${news.content}"></span></p>
        <p><strong>Date Posted:</strong> <span th:text="${#dates.format(news.datePosted, 'yyyy-MM-dd HH:mm')}"></span>
        </p>
        <p><strong>Posted By:</strong> <span th:text="${news.postedBy.username}"></span></p>
        <p><strong>Graphic:</strong></p>
        <div>
            <img alt="News Graphic" class="img-fluid rounded shadow-sm" onerror="this.style.display='none'"
                 th:src="${news.graphic}">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
    </div>
</div>
