<div class="border p-4">
    <h4 class="h3 mb-3"><i class="fas fa-search"></i> Search News</h4>
    <form action="/news" method="get">
        <div class="row g-3 align-items-end">
            <div class="col-md-4">
                <label class="form-label fw-bold" for="filterValue">Search Value</label>
                <input class="form-control" id="filterValue" name="filterValue" type="text">
            </div>
            <div class="col-md-4">
                <label class="form-label fw-bold" for="filterType">Column</label>
                <select class="form-select" id="filterType" name="filterType">
                    <option value="title">Title</option>
                    <option value="content">Content</option>
                    <option value="datePosted">Date Posted</option>
                    <option value="postedBy.username">Posted By</option>
                </select>
            </div>
            <div th:replace="~{/helpers/search-option}"></div>
        </div>
    </form>
</div>
