<div class="border p-4">
    <h4 class="h3 mb-3"><i class="fas fa-search"></i> Search Goods</h4>
    <form action="/goods" class="row g-3 align-items-end" method="get">
        <div class="col-md-4">
            <label class="form-label fw-bold" for="filterValue">Search Value</label>
            <input class="form-control" id="filterValue" name="filterValue" placeholder="Enter value" type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label fw-bold" for="filterType">Column</label>
            <select class="form-select" id="filterType" name="filterType">
                <option value="goodsId">Goods ID</option>
                <option value="clientOrder.clientOrderId">Client Order ID</option>
                <option value="name">Name</option>
                <option value="description">Description</option>
                <option value="weight">Weight</option>
                <option value="dimensions">Dimensions</option>
                <option value="specialHandlingInstructions">Special Handling Instructions</option>
            </select>
        </div>
        <div th:replace="~{/helpers/search-option}"></div>
    </form>
</div>
