<div th:fragment="editLocationModal">
    <div class="modal-header bg-warning text-dark">
        <h5 class="modal-title"><i class="fas fa-edit"></i> Edit Location</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
    </div>
    <div class="modal-body">
        <form method="post" th:action="@{'/locations/update/' + ${location.locationId}}" th:object="${location}">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" id="name" required th:field="*{name}" type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="address">Address</label>
                <input class="form-control" id="address" th:field="*{address}" type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="city">City</label>
                <input class="form-control" id="city" th:field="*{city}" type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="state">State</label>
                <input class="form-control" id="state" th:field="*{state}" type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="country">Country</label>
                <input class="form-control" id="country" th:field="*{country}" type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="postalCode">Postal Code</label>
                <input class="form-control" id="postalCode" th:field="*{postalCode}" type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="latitude">Latitude</label>
                <input class="form-control" id="latitude" th:field="*{latitude}" type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="longitude">Longitude</label>
                <input class="form-control" id="longitude" th:field="*{longitude}" type="text">
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Save</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button"><i class="fas fa-times"></i>
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
