<div class="border p-4">
    <h4 class="h3 mb-3"><i class="fas fa-search"></i> Search Driver Vehicle Assignments</h4>
    <form action="/driver-vehicles" class="row g-3 align-items-end" method="get">
        <div class="col-md-4">
            <label class="form-label fw-bold" for="filterValue">Search Value</label>
            <input class="form-control" id="filterValue" name="filterValue" placeholder="Enter value" type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label fw-bold" for="filterType">Column</label>
            <select class="form-select" id="filterType" name="filterType">
                <option value="driver.user.firstName">Driver First Name</option>
                <option value="driver.user.lastName">Driver Last Name</option>
                <option value="vehicle.registrationNumber">Vehicle Registration</option>
                <option value="assignedDate">Assigned Date</option>
                <option value="endDate">End Date</option>
                <option value="status">Status</option>
            </select>
        </div>
        <div th:replace="~{/helpers/search-option}"></div>

    </form>
</div>
