html {
    height: 100%;
    overflow-y: auto; /* Wymuszenie paska przewijania w pionie */
    overflow-x: hidden; /* Brak przewijania w poziomie */
}

body {
    padding-top: 56px;
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    color: #6c6c6c;
}

.navbar {
    background-color: #ffcc00;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.8rem;
    color: #ffffff !important;
}

.nav-link {
    color: #ffffff !important;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link:hover, .nav-item.active .nav-link {
    color: #333 !important;
    background-color: #f39c12;
    border-radius: 5px;
}

.dropdown-menu {
    background-color: #fff8dc;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
    color: #333 !important;
    padding: 10px 20px;
}

.dropdown-menu a:hover {
    background-color: #ffcc00;
    color: #fff !important;
    border-radius: 5px;
}

h1, h2, h4 {
    color: #ffcc00;
    font-weight: 700;
}

.container h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 2.5rem;
}

.btn {
    background-color: #ffcc00;
    color: #555555;
    border: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #f39c12;
    color: #fff;
}

.btn-secondary {
    background-color: #333;
    color: #fff;
    border: none;
}

.btn-secondary:hover {
    background-color: #555;
}

.table {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table th {
    background-color: #ffcc00;
    color: #333;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #f39c12;
}

.table td {
    text-align: center;
    color: #333;
}

.table tbody tr:hover {
    background-color: #fff9e6;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
