<div th:fragment="createBreakdownForm">
    <div class="border p-4 bg-light rounded shadow-sm">
        <h4 class="h5 mb-3"><i class="fas fa-tools"></i> Create Breakdown</h4>
        <form method="post" th:action="@{/breakdowns/create}" th:object="${breakdown}">
            <div class="mb-3">
                <label class="form-label" for="incident">Incident</label>
                <select class="form-control" id="incident" required th:field="*{incident.incidentId}">
                    <option th:each="incident : ${incidents}" th:text="${incident.incidentType}"
                            th:value="${incident.incidentId}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" placeholder="Enter breakdown description" required
                          th:field="*{description}"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="repairCost">Repair Cost</label>
                <input class="form-control" id="repairCost" placeholder="Enter repair cost" required step="0.01"
                       th:field="*{repairCost}" type="number">
            </div>
            <div class="mb-3">
                <label class="form-label" for="repairDate">Repair Date</label>
                <input class="form-control" id="repairDate" placeholder="Select repair date" required
                       th:field="*{repairDate}" type="date">
            </div>
            <button class="btn btn-success" type="submit"><i class="fas fa-check"></i> Save</button>
            <button class="btn btn-secondary" data-bs-target="#addBreakdownForm" data-bs-toggle="collapse"
                    type="button">
                <i class="fas fa-times"></i> Cancel
            </button>
        </form>
    </div>
</div>
