<div th:fragment="detailsBreakdownModal">
    <div class="modal-header bg-info text-dark border-bottom">
        <h5 class="modal-title">
            <i class="fas fa-info-circle"></i> Breakdown Details
        </h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
    </div>
    <div class="modal-body bg-light text-dark">
        <p><strong>ID:</strong> <span th:text="${breakdown.breakdownId}"></span></p>
        <p><strong>Incident:</strong> <span th:text="${breakdown.incident.incidentType}"></span></p>
        <p><strong>Description:</strong> <span th:text="${breakdown.description}"></span></p>
        <p><strong>Repair Cost:</strong> <span th:text="${breakdown.repairCost}"></span></p>
        <p><strong>Repair Date:</strong> <span th:text="${#dates.format(breakdown.repairDate, 'yyyy-MM-dd')}"></span>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
            <i class="fas fa-times"></i> Close
        </button>
    </div>
</div>
