<div class="border p-4">
    <h4 class="h3 mb-3"><i class="fas fa-tools"></i> Add New Technical Inspection</h4>
    <form class="row g-3" method="post" th:action="@{/technical-inspections/create}" th:object="${technicalInspection}">
        <div class="col-md-6">
            <label class="form-label" for="vehicle">Vehicle</label>
            <select class="form-select" id="vehicle" th:field="*{vehicle.vehicleId}">
                <option th:each="vehicle : ${vehicles}" th:text="${vehicle.registrationNumber}"
                        th:value="${vehicle.vehicleId}"></option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="inspectionDate">Inspection Date</label>
            <input class="form-control" id="inspectionDate" required th:field="*{inspectionDate}" type="date">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="result">Result</label>
            <select class="form-select" id="result" th:field="*{result}">
                <option th:each="result : ${results}" th:text="${result}" th:value="${result}"></option>
            </select>
        </div>
        <div class="col-md-12">
            <label class="form-label" for="comments">Comments</label>
            <textarea class="form-control" id="comments" th:field="*{comments}"></textarea>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="nextInspectionDate">Next Inspection Date</label>
            <input class="form-control" id="nextInspectionDate" th:field="*{nextInspectionDate}" type="date">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="inspectorName">Inspector Name</label>
            <input class="form-control" id="inspectorName" th:field="*{inspectorName}" type="text">
        </div>
        <div class="col-md-12 d-flex">
            <button class="btn btn-success me-2" type="submit"><i class="fas fa-check"></i> Save</button>
            <button class="btn btn-secondary" type="button" data-bs-target="#addTechnicalInspectionForm" data-bs-toggle="collapse">
                <i class="fas fa-times"></i> Cancel
            </button>
        </div>
    </form>
</div>
