<div th:fragment="detailsIncidentModal">
    <div class="modal-header bg-info text-dark border-bottom">
        <h5 class="modal-title">
            <i class="fas fa-info-circle"></i> Incident Details
        </h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
    </div>
    <div class="modal-body bg-light text-dark">
        <p><strong>ID:</strong> <span th:text="${incident.incidentId}"></span></p>
        <p><strong>Type:</strong> <span th:text="${incident.incidentType}"></span></p>
        <p><strong>Date:</strong> <span th:text="${#dates.format(incident.date, 'yyyy-MM-dd')}"></span></p>
        <p><strong>Description:</strong> <span th:text="${incident.description}"></span></p>
        <p><strong>Vehicle:</strong> <span th:text="${incident.vehicle.registrationNumber}"></span></p>
        <p><strong>Driver:</strong>
            <span th:text="${incident.driver.user.firstName} + ' ' + ${incident.driver.user.lastName}"></span>
        </p>
        <p><strong>Reported By:</strong> <span th:text="${incident.reportedBy.username}"></span></p>
        <p><strong>Status:</strong> <span th:text="${incident.status}"></span></p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
            <i class="fas fa-times"></i> Close
        </button>
    </div>
</div>
