<div class="border p-4">
    <h4 class="h3 mb-3"><i class="fas fa-plus-circle"></i> Add New Client</h4>
    <form class="row g-3" method="post" th:action="@{/clients/create}" th:object="${client}">
        <div class="col-md-6">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" id="name" required th:field="*{name}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="address">Address</label>
            <input class="form-control" id="address" th:field="*{address}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="contactPerson">Contact Person</label>
            <input class="form-control" id="contactPerson" th:field="*{contactPerson}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="phone">Phone</label>
            <input class="form-control" id="phone" th:field="*{phone}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" id="email" th:field="*{email}" type="email">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="taxId">NIP</label>
            <input class="form-control" id="taxId" th:field="*{nip}" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="invoiceType">Invoice Type</label>
            <select class="form-control" id="invoiceType" required th:field="*{invoiceType}">
                <option th:each="type : ${invoiceTypes}" th:text="${type}" th:value="${type}"></option>
            </select>
        </div>
        <div class="col-md-12 d-flex">
            <button class="btn btn-success me-2" type="submit"><i class="fas fa-check"></i> Save</button>
            <button class="btn btn-secondary" data-bs-target="#addClientForm" data-bs-toggle="collapse" type="button">
                <i class="fas fa-times"></i> Cancel
            </button>
        </div>
    </form>
</div>
