<div th:fragment="editClientModal">
    <div class="modal-header bg-warning text-dark border-bottom">
        <h5 class="modal-title">
            <i class="fas fa-edit"></i> Edit Client
        </h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
    </div>
    <div class="modal-body bg-light text-dark">
        <form method="post" th:action="@{/clients/update/{id}(id=${client.clientId})}" th:object="${client}">
            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label fw-bold">Name</label>
                    <label>
                        <input class="form-control" required th:field="*{name}" type="text">
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">Address</label>
                    <label>
                        <input class="form-control" th:field="*{address}" type="text">
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">Contact Person</label>
                    <label>
                        <input class="form-control" th:field="*{contactPerson}" type="text">
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">Phone</label>
                    <label>
                        <input class="form-control" th:field="*{phone}" type="text">
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">Email</label>
                    <label>
                        <input class="form-control" th:field="*{email}" type="email">
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">NIP</label>
                    <label>
                        <input class="form-control" th:field="*{nip}" type="text">
                    </label>
                </div>
            </div>
            <div class="modal-footer mt-4 bg-light">
                <button class="btn btn-success" type="submit">
                    <i class="fas fa-save"></i> Save
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                    <i class="fas fa-times"></i> Cancel
                </button>
            </div>
        </form>
    </div>
</div>
