<div class="border p-4">
    <h4 class="h3 mb-3"><i class="fas fa-file-invoice"></i> Create New Order</h4>
    <form method="post" th:action="@{/orders/create}" th:object="${order}">
        <div class="mb-3">
            <label class="form-label" for="clientOrder">Client Order</label>
            <select class="form-control" id="clientOrder" th:field="*{clientOrder.clientOrderId}">
                <option th:each="clientOrder : ${clientOrders}" th:text="${clientOrder.client.name}"
                        th:value="${clientOrder.clientOrderId}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="transportOrder">Transport Order</label>
            <select class="form-control" id="transportOrder" th:field="*{transportOrder.transportOrderId}">
                <option th:each="transportOrder : ${transportOrders}" th:text="${transportOrder.name}"
                        th:value="${transportOrder.transportOrderId}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="orderType">Order Type</label>
            <select class="form-control" id="orderType" th:field="*{orderType}">
                <option th:each="type : ${orderTypes}" th:text="${type}" th:value="${type}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="status">Status</label>
            <select class="form-control" id="status" th:field="*{status}">
                <option th:each="status : ${statuses}" th:text="${status}" th:value="${status}"></option>
            </select>
        </div>
        <button class="btn btn-success" type="submit">Save</button>
        <a class="btn btn-secondary" href="/orders">Back</a>
    </form>
</div>
