<div class="border p-4">
    <h4 class="h3 mb-3"><i class="fas fa-truck"></i> Add New Transport Order</h4>
    <form class="row g-3" method="post" th:action="@{/transport-orders/create}" th:object="${transportOrder}">
        <div class="col-md-6">
            <label class="form-label" for="clientOrder">Client Order</label>
            <select class="form-control" id="clientOrder" th:field="*{clientOrder.clientOrderId}">
                <option th:each="clientOrder : ${clientOrders}" th:text="${clientOrder.client.name}"
                        th:value="${clientOrder.clientOrderId}"></option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="name">Transport Name</label>
            <input class="form-control" id="name" required th:field="*{name}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="assignedDriver">Assigned Driver</label>
            <select class="form-control" id="assignedDriver" th:field="*{assignedDriver.driverId}">
                <option th:each="driver : ${drivers}" th:text="${driver.user.firstName} + ' ' + ${driver.user.lastName}"
                        th:value="${driver.driverId}"></option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="assignedVehicle">Assigned Vehicle</label>
            <select class="form-control" id="assignedVehicle" th:field="*{assignedVehicle.vehicleId}">
                <option th:each="vehicle : ${vehicles}" th:text="${vehicle.registrationNumber}"
                        th:value="${vehicle.vehicleId}"></option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="startLocation">Start Location</label>
            <select class="form-control" id="startLocation" th:field="*{startLocation.locationId}">
                <option th:each="location : ${locations}" th:text="${location.name}"
                        th:value="${location.locationId}"></option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="endLocation">End Location</label>
            <select class="form-control" id="endLocation" th:field="*{endLocation.locationId}">
                <option th:each="location : ${locations}" th:text="${location.name}"
                        th:value="${location.locationId}"></option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="scheduledDeparture">Scheduled Departure</label>
            <input class="form-control" id="scheduledDeparture" th:field="*{scheduledDeparture}" type="date">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="scheduledArrival">Scheduled Arrival</label>
            <input class="form-control" id="scheduledArrival" th:field="*{scheduledArrival}" type="date">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="status">Status</label>
            <select class="form-control" id="status" th:field="*{status}">
                <option th:each="status : ${statuses}" th:text="${status}" th:value="${status}"></option>
            </select>
        </div>
        <div class="col-md-12 d-flex">
            <button class="btn btn-success me-2" type="submit">
                <i class="fas fa-check"></i> Save
            </button>
            <button class="btn btn-secondary"
                    data-bs-target="#addTransportOrderForm"
                    data-bs-toggle="collapse"
                    type="button">
                <i class="fas fa-times"></i> Cancel
            </button>
        </div>
    </form>
</div>
