<div class="border p-4">
    <h4 class="h3 mb-3"><i class="fas fa-truck-loading"></i> Add New Vehicle Type</h4>
    <form class="row g-3" method="post" th:action="@{/vehicle-types/create}" th:object="${vehicleType}">
        <div class="col-md-6">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" id="name" required th:field="*{name}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="maximumLoad">Maximum Load</label>
            <input class="form-control" id="maximumLoad" th:field="*{maximumLoad}" type="number">
        </div>
        <div class="col-md-12">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" id="description" th:field="*{description}"></textarea>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="dimensions">Dimensions</label>
            <input class="form-control" id="dimensions" th:field="*{dimensions}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="specialFeatures">Special Features</label>
            <input class="form-control" id="specialFeatures" th:field="*{specialFeatures}">
        </div>
        <div class="col-md-12 d-flex">
            <button class="btn btn-success me-2" type="submit"><i class="fas fa-check"></i> Save</button>
            <button class="btn btn-secondary" data-bs-target="#addVehicleTypeForm" data-bs-toggle="collapse" type="button">
                <i class="fas fa-times"></i> Cancel
            </button>
        </div>
    </form>
</div>
