<div class="border p-4">
    <h4 class="h3 mb-3"><i class="fas fa-user"></i> Add New Driver</h4>
    <form class="row g-3" method="post" th:action="@{/drivers/create}" th:object="${driver}">
        <div class="col-md-6">
            <label class="form-label" for="user">User</label>
            <select class="form-control select2" id="user" th:field="*{user.userId}">
                <option th:each="user : ${users}" th:text="${user.firstName + ' ' + user.lastName}"
                        th:value="${user.userId}">
                </option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="licenseNumber">License Number</label>
            <input class="form-control" id="licenseNumber" required th:field="*{licenseNumber}" type="text"
                   placeholder="Enter license number">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="licenseCategory">License Category</label>
            <input class="form-control" id="licenseCategory" th:field="*{licenseCategory}" type="text"
                   placeholder="Enter license category">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="hireDate">Hire Date</label>
            <input class="form-control" id="hireDate" required th:field="*{hireDate}" type="date">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="medicalCertificateExpiry">Medical Certificate Expiry</label>
            <input class="form-control" id="medicalCertificateExpiry" required th:field="*{medicalCertificateExpiry}"
                   type="date">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="driverStatus">Driver Status</label>
            <select class="form-control" id="driverStatus" th:field="*{driverStatus}">
                <option th:each="status : ${T(com.goldencargo.model.entities.Driver.DriverStatus).values()}"
                        th:text="${status}" th:value="${status}">
                </option>
            </select>
        </div>
        <div class="col-md-12 d-flex">
            <button class="btn btn-success me-2" type="submit">
                <i class="fas fa-check"></i> Save
            </button>
            <button class="btn btn-secondary"
                    data-bs-target="#addDriverForm"
                    data-bs-toggle="collapse"
                    type="button">
                <i class="fas fa-times"></i> Cancel
            </button>
        </div>
    </form>
</div>
