<div class="border p-4">
    <h4 class="h3 mb-3"><i class="fas fa-search"></i> Search Drivers</h4>
    <form action="/drivers" class="row g-3 align-items-end" method="get">
        <div class="col-md-4">
            <label class="form-label fw-bold" for="filterValue">Search Value</label>
            <input class="form-control" id="filterValue" name="filterValue" placeholder="Enter value" type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label fw-bold" for="filterType">Column</label>
            <select class="form-select" id="filterType" name="filterType">
                <option value="user.firstName">First Name</option>
                <option value="user.lastName">Last Name</option>
                <option value="licenseNumber">License Number</option>
                <option value="licenseCategory">License Category</option>
                <option value="hireDate">Hire Date</option>
                <option value="medicalCertificateExpiry">Medical Certificate Expiry</option>
                <option value="driverStatus">Driver Status</option>
            </select>
        </div>
        <div th:replace="~{/helpers/search-option}"></div>
    </form>
</div>
