<div th:fragment="detailsShippingDocumentModal">
    <div class="modal-header bg-info text-dark border-bottom">
        <h5 class="modal-title">
            <i class="fas fa-info-circle"></i> Shipping Document Details
        </h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
    </div>
    <div class="modal-body bg-light text-dark">
        <p><strong>ID:</strong> <span th:text="${shippingDocument.documentId}"></span></p>
        <p><strong>Transport:</strong> <span th:text="${shippingDocument.transport.transportOrder.name}"></span></p>
        <p><strong>Document Type:</strong> <span th:text="${shippingDocument.documentType}"></span></p>
        <p><strong>Document Number:</strong> <span th:text="${shippingDocument.documentNumber}"></span></p>
        <p><strong>Issue Date:</strong> <span
                th:text="${#dates.format(shippingDocument.issueDate, 'yyyy-MM-dd HH:mm')}"></span></p>
        <p><strong>Content:</strong></p>
        <a class="btn btn-info btn-sm"
           th:href="@{/shipping-documents/download/{id}(id=${shippingDocument.documentId})}">
            <i class="fas fa-download"></i> Download
        </a>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
            <i class="fas fa-times"></i> Close
        </button>
    </div>
</div>
