<div class="border p-4">
    <h4 class="h3 mb-3"><i class="fas fa-truck"></i> Add New Transport</h4>
    <form class="row g-3" method="post" th:action="@{/transports/create}" th:object="${transport}">
        <div class="col-md-4">
            <label class="form-label" for="transportOrder">Transport Order</label>
            <select class="form-control" id="transportOrder" th:field="*{transportOrder.transportOrderId}">
                <option th:each="order : ${transportOrders}" th:value="${order.transportOrderId}" th:text="${order.name}"></option>
            </select>
        </div>
        <div class="col-md-4">
            <label class="form-label" for="actualDeparture">Actual Departure</label>
            <input class="form-control" id="actualDeparture" th:field="*{actualDeparture}" type="date">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="actualArrival">Actual Arrival</label>
            <input class="form-control" id="actualArrival" th:field="*{actualArrival}" type="date">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="status">Status</label>
            <select class="form-control" id="status" th:field="*{status}">
                <option th:each="status : ${statuses}" th:value="${status}" th:text="${status.name()}"></option>
            </select>
        </div>
        <div class="col-md-12">
            <label class="form-label" for="notes">Notes</label>
            <textarea class="form-control" id="notes" th:field="*{notes}"></textarea>
        </div>
        <div class="col-md-12 d-flex">
            <button class="btn btn-success me-2" type="submit"><i class="fas fa-check"></i> Save</button>
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                <i class="fas fa-times"></i> Cancel
            </button>
        </div>
    </form>
</div>
