<div th:fragment="detailsTransportModal">
    <div class="modal-header bg-info text-white">
        <h5 class="modal-title">Transport Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label class="form-label fw-bold">Transport Order</label>
            <p class="form-control-plaintext" th:text="${transport.transportOrder.name}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold">Actual Departure</label>
            <p class="form-control-plaintext" th:text="${#dates.format(transport.actualDeparture, 'yyyy-MM-dd')}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold">Actual Arrival</label>
            <p class="form-control-plaintext" th:text="${#dates.format(transport.actualArrival, 'yyyy-MM-dd')}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold">Status</label>
            <p class="form-control-plaintext" th:text="${transport.status}"></p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
    </div>
</div>
