<div th:fragment="editTransportModal">
    <div class="modal-header bg-warning text-dark">
        <h5 class="modal-title">Edit Transport</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
    </div>
    <div class="modal-body">
        <form method="post" th:action="@{/transports/update/{id}(id=${transport.transportId})}"
              th:object="${transport}">
            <div class="mb-3">
                <label class="form-label" for="transportOrder">Transport Order</label>
                <select class="form-control" id="transportOrder" th:field="*{transportOrder.transportOrderId}">
                    <option th:each="order : ${transportOrders}" th:text="${order.name}"
                            th:value="${order.transportOrderId}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="actualDeparture">Actual Departure</label>
                <input class="form-control" id="actualDeparture" th:field="*{actualDeparture}" type="datetime-local">
            </div>
            <div class="mb-3">
                <label class="form-label" for="actualArrival">Actual Arrival</label>
                <input class="form-control" id="actualArrival" th:field="*{actualArrival}" type="datetime-local">
            </div>
            <div class="mb-3">
                <label class="form-label" for="status">Status</label>
                <select class="form-control" id="status" th:field="*{status}">
                    <option th:each="status : ${statuses}" th:text="${status.name()}" th:value="${status}"></option>
                </select>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="submit">Update</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
            </div>
        </form>
    </div>
</div>
