<div class="border p-4">
    <h4 class="h3 mb-3"><i class="fas fa-truck"></i> Add New Vehicle</h4>
    <form class="row g-3" method="post" th:action="@{/vehicles/create}" th:object="${vehicle}">
        <div class="col-md-6">
            <label class="form-label" for="vehicleType">Vehicle Type</label>
            <select class="form-select" id="vehicleType" th:field="*{vehicleType.vehicleTypeId}">
                <option th:each="type : ${vehicleTypes}" th:text="${type.name}"
                        th:value="${type.vehicleTypeId}"></option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="registrationNumber">Registration Number</label>
            <input class="form-control" id="registrationNumber" required th:field="*{registrationNumber}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="make">Make</label>
            <input class="form-control" id="make" th:field="*{make}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="model">Model</label>
            <input class="form-control" id="model" th:field="*{model}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="year">Year</label>
            <input class="form-control" id="year" th:field="*{year}" type="number">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="capacity">Capacity</label>
            <input class="form-control" id="capacity" step="0.01" th:field="*{capacity}" type="number">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="status">Status</label>
            <select class="form-select" id="status" th:field="*{status}">
                <option th:each="status : ${statuses}" th:text="${status}" th:value="${status}"></option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="purchaseDate">Purchase Date</label>
            <input class="form-control" id="purchaseDate" th:field="*{purchaseDate}" type="date">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="lastServiceDate">Last Service Date</label>
            <input class="form-control" id="lastServiceDate" th:field="*{lastServiceDate}" type="date">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="nextServiceDue">Next Service Due</label>
            <input class="form-control" id="nextServiceDue" th:field="*{nextServiceDue}" type="date">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="mileage">Mileage</label>
            <input class="form-control" id="mileage" th:field="*{mileage}" type="number">
        </div>
        <div class="col-md-12 d-flex">
            <button class="btn btn-success me-2" type="submit"><i class="fas fa-check"></i> Save</button>
            <button class="btn btn-secondary" data-bs-target="#addVehicleForm" data-bs-toggle="collapse" type="button">
                <i class="fas fa-times"></i> Cancel
            </button>
        </div>
    </form>
</div>
